<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | Puddle</title>
</head>
<body>
    <nav class="px-6 py-6 flex justify-between items-centre border-b border-grey-200">
        <a href="" class="text-xl fornt-semibold">Puddle</a>
        <div class="space-x-6">
            <a href="#" class="text-lg fornt-semibold hover:text-grey-500">New Item</a>
        </div>
    </nav>
    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>